@model MVC_laboration.Models.PostModel

@{
    ViewBag.Title = "Skapa inlägg";
}

<h1>Skapa inlägg</h1>

<form method="post">
    <label asp-for="Author"></label>
    <input asp-for="Author" value="@ViewBag.Author" />

    <label asp-for="RememberMe"></label>
    <input asp-for="RememberMe" />

    <label asp-for="Content"></label>
    <textarea asp-for="Content"></textarea>
    <div class="count-wrap">
        <span id="char-count"></span><span> tecken kvar</span>
    </div>
    <span asp-validation-for="Content"></span>

    <label asp-for="Mood"></label>
    <select asp-for="Mood">
        <option>@null</option>
        <option>😀</option>
        <option>😢</option>
        <option>🤪</option>
        <option>🤔</option>
    </select>

    <input type="submit" />

    <span class="success">@ViewData["Message"]</span>
</form>